
/**********      public         css   ********************/
*{
	 margin: 0;
	padding: 0;
}
a,a:hover,link{
	 text-decoration: none;
}
html,body{
	 height: 100%;
}
body{
	 overflow: hidden;

}
li{
	 list-style: none;

}
span{
	 margin: 0;
	padding: 0;
	display:  inline !important;
}
.left{
	 float: left;
}
.right{
	float: right;

}
.clearfix_ri{
	clear: right;
}
.ov-hid{
	overflow: hidden;
}

.active_line{
	 background-color: #66ccff;
}

.nega_cl{
	 background-color: greenyellow;
	 display: block !important;
}
.posi_cl{
	 background-color: darkred;
	 display: block !important;
}
/**************************** public css end  *************************************************/

/**************************** main css start  *************************************************/
#swiper-body tr:nth-child(2n) td{
	background: #66ccff;
}
h4:first-child{
	  z-index: 1000000;
	  position: relative;
}


table{
	 border-collapse: collapse;

}
table th{
	font-size:1.1em;
	text-align:center;
	padding-top:1em;
	padding-bottom:1.5em;
	background-color: #676da1;
	color:#ffffff;

 }
table td{
	text-align:center;
	padding-top:1em;
	padding-bottom:1.1em;
	background-color: #f4f4f4;
	color:#000;
	border-bottom: 1px solid #ccc;
}

.con_wrap{
	 width: 100%;
}
.fixed_con{
	 width:4%;
}
.swipe_con{
     width: 72%;
}



#fixed_table_title{
	 position: relative !important;
	 z-index: 10000 !important;
}
#swipe_table_title{
	  position: relative !important;
	 z-index: 10000 !important;
}

#swiper-body{

	z-index: 10 !important;
	position: relative !important;
}
#fixed-body{
	 z-index: 10 !important;
	 position: relative !important;
}

#swipe_table{
	margin-left: 2rem;
}
#fixed_table{
	 position: relative;
	z-index: 100;

}

.table-head{
	 position: relative;
	 z-index: 10000;
}
.table-body{
	 position: relative;
	z-index: -100000;
}

#fixed_btn{
	width: 2.5em;
	line-height: 2.5em;
	border-radius: 2em;
	background: rgba(216,27,33,.8);
	position: absolute;
	left: 79%;
	top: 88%;
	color: black;
	text-align: center;
	font-size: 2em;
	transition: all 1s ease-out;
}


.fun_btn{
	width: 2em;
	height: 2em;
	line-height: 2em;
	border-radius: 1em;
	background: rgba(216,27,33,.8);
	position: absolute;
	color: black;
	text-align: center;
	font-size: smaller;
	transition: opacity .1s ease-out;

}
.hide_btn{
	opacity: 0 ;
}
.show_btn{
	 opacity: 1 ;
}
.fun_btn:last-child{
	left: 21% !important;
	top: -94% !important;

}

.tb_title{
	 font-weight: bold;
	 text-align: center;
}
.tb_title a{

}

.tb_con{
	    margin-top: 26%;
    margin-left: 5%;
    margin-right: 5%;
}
.con_line{
	    height: 2em;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    display: block;
    margin-bottom: 3%;
}
/**************************** main css end    *************************************************/



/*************************** sec view  start  ***************************************/

.panel-collapse{
	 height:30em !important;
}

.panel-collapse{
	 overflow: scroll;
}

#accordion span{
	display: block !important;

}
#accordion span input{
	margin-right: 8em;
}
#filter_con{
	 overflow: scroll; 
}
/*************************** sec view   end   ***************************************/
.change_width{
	 width: 14% !important;
}





/************************** respon  styles    ****************************************/

/* i5 max width 320px */
@media screen and (max-device-width: 320px) and (min-device-width: 320px){
	.change_width {
    width: 5% !important;
}
}

/* galaxy 5 max width 320px */
@media screen and (max-device-width: 360px) and (min-device-width: 360px){
	.change_width {
    width: 4% !important;
}
}

/* nexus 5 max width px */
@media screen and (max-device-width: 412px) and (min-device-width: 412px){

   .fixed_con {
    width: 4%;
}

	.change_width {
    width: 4% !important;
}


}





/* i6 max width 375px */
@media screen and (max-device-width: 375px) and (min-device-width: 375px){
		.change_width {
    width: 4% !important;
}

}

/* i6 p  max width 414px */
@media screen and (max-device-width: 414px) and (min-device-width: 414px){

	   .fixed_con {
    width: 4%;
}
	.change_width {
    width: 4% !important;
}
#swipe_table {
    margin-left: 2rem;
}
}




/* ipad max width 768px*/
@media screen and (max-device-width: 768px) and (min-device-width: 768px){
	.fixed_con {
    width: 12%;
}
	.change_width {
    width: 7% !important;
}
}


/*************************8 respon  styles    ****************************************/
.change_margin{
	margin-left: 3rem ;
	-webkit-transform: translate3d(0,0,0) !important;
}
.change_tran{
	-webkit-transform: translate3d(-495px,0,0) !important;
}
.right_tran{
	-webkit-transform: translate3d(0,0,0) !important;
}